*.pyc
.*.swp
*.egg/
*.egg-info/
test-results.xml
client/java/build
client/java/etc/develop.properties
client/java/dist
client/python/build/
client/python/dist/
common/build
common/dist
doc/html
doc/_build
server/build
server/dist
test/reports

